sing-language.duckdns.org {
    # Backend API proxy
    handle_path /api* {
        reverse_proxy lsv-api:3000
    }

    # Frontend proxy
    reverse_proxy lsv-frontend:80

    # Enable compression
    encode zstd gzip

    # Best practice security headers
    header {
        # disable FLoC tracking
        Permissions-Policy interest-cohort=()
        # enable HSTS
        Strict-Transport-Security max-age=31536000;
        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff
        # clickjacking protection
        X-Frame-Options DENY
        # keep referrer data off of HTTP connections
        Referrer-Policy no-referrer-when-downgrade
    }
}
